<div class="modal" *ngIf="visible">
  <button type="button" (click)="close.emit()">X</button>
  <div class="modal-content">
    <div class="modal-header">
      <input type="text" name="profile" id="profile" [(ngModel)]="profile" placeholder="Enter GitHub Profile" />
      <button type="button" (click)="onGetProfile()">Get Profile</button>
    </div>

    <div class="profile" *ngIf="profileData">
      <div class="profile-info">
        <img *ngIf="profileData?.avatar_url" [src]="profileData.avatar_url" alt="Profile Image" />
        <h3>{{ profileData.name }}</h3>
        <p>{{ profileData.bio }}</p>
        <p><strong>Followers:</strong> {{ profileData.followers }}</p>
        <p><strong>Following:</strong> {{ profileData.following }}</p>
      </div>

      <div>
        <h4>Repositories</h4>
        <div class="profile-repos" *ngIf="(repositoryData?.length ?? 0) > 0">
          <ul>
            <li *ngFor="let repo of repositoryData" (click)="selectRepository(repo)">
              {{repo.language +' | '+  repo.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
