<div class="modal" *ngIf="visible">
  <div class="modal-content">
    <div class="btn-close" (click)="close.emit()">✕</div>
    
    <!-- Título adicionado aqui -->
    <h2 class="page-title">GitHub Profile Explorer</h2>

    <div class="modal-header">
      <input 
        type="text" 
        name="profile" 
        id="profile" 
        [(ngModel)]="profile" 
        placeholder="Enter GitHub Profile"
        class="search-input"
      />
      <button type="button" (click)="onGetProfile()" class="search-button">Get Profile</button>
    </div>

    <div class="profile" *ngIf="profileData">
      <div class="profile-info">
        <img *ngIf="profileData?.avatar_url" [src]="profileData.avatar_url" alt="Profile Image" class="avatar" />
        <h3>{{ profileData.name }}</h3>
        <p class="bio">{{ profileData.bio }}</p>
        <div class="stats">
          <p><span class="stat-label">Followers:</span> <span class="stat-value">{{ profileData.followers }}</span></p>
          <p><span class="stat-label">Following:</span> <span class="stat-value">{{ profileData.following }}</span></p>
        </div>
      </div>

      <div class="repos-section">
        <h4>Repositories</h4>
        <div class="repos-container" *ngIf="(repositoryData?.length ?? 0) > 0">
          <ul class="repo-list">
            <li *ngFor="let repo of repositoryData" (click)="selectRepository(repo)" class="repo-item">
              {{repo.language +' | '+  repo.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>