<div class="login-container">
  <mat-card class="login-card">
    <h2 class="login-title">Entrar</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu email" formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email é obrigatório</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email inválido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Digite sua senha" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é obrigatória</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width login-button" type="submit">Entrar</button>
    </form>
  </mat-card>
</div>
