.modal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    cursor: move;

    span {
      font-size: 16px;
      font-weight: bold;
    }

    button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #333;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .import-file {
      input[type="file"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .env-textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: monospace;
      font-size: 14px;
      resize: none;
    }

    .form-row {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      flex-wrap: wrap;
      max-height: 200px;
      overflow-y: auto;
      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        flex: 1;
      }

      button {
        // background-color: #f44336;
        border: none;
        // color: white;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }

    .add-btn {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-start;

      &:hover {
        background-color: #388e3c;
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #2196f3;
      color: white;
      border: none;

      &:hover {
        background-color: #1976d2;
      }

      &:nth-child(1) {
        background-color: #f44336;
      }

      &:nth-child(1):hover {
        background-color: #d32f2f;
      }
    }
  }
}
